{% extends 'base.html.twig' %}


{% block body %}

<h1>creation employes/h1>



{{ form_start(form) }}

{{ form_row(form.prenom) }}
{{ form_row(form.nom) }}
{{ form_row(form.telephone) }}
{{ form_row(form.email) }}
{{ form_row(form.adresse) }}
{{ form_row(form.poste) }}
{{ form_row(form.salaire) }}
{{ form_row(form.datedenaissance) }}


<button type="submit" class="btn btn-primary">

{% if editMode %}
   enregistrer les modif
{% else %}
     ajouter 
{% endif %}
</button>

{{ form_end(form) }}

{% endblock %}